{% extends 'bootstrap/base.html' %}

{% block navbar %}
  {{nav.mynavbar.render()}}
{% endblock %}

{% block content %}
  <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
	<ul class="flashes">
	  {% for message in messages %}
	    <li>{{ message }}</li>
	  {% endfor %}
	</ul>
      {% endif %}
    {% endwith %}

    <h1>Konfigurasi model</h1>
    <form method="POST" action="/setting" enctype="multipart/form-data">
      <!-- bagian LSTM -->
      <div class="form-group">
	<div class="input-group input-file" name="fileModelLSTM">
	  <span class="input-group-btn">
	    <button class="btn btn-default btn-choose" type="button">Upload Model JSON LSTM</button>
	  </span>
	  <input type="text" class="form-control" name="fileModelLSTM" placeholder='masukkan model file disini...' />
	  <span class="input-group-btn">
	    <button class="btn btn-warning btn-reset" type="button">Reset</button>
	  </span>
	</div>
      </div>

      {% if lstm_model_exists == 1 %}
	<div class="panel panel-primary autocollapse">
	  <div class="panel-heading clickable">
	    <h3 class="panel-title">Bentuk Model</h3>
	  </div>
	  <div class="panel-body">
	    <div class="row">
	      <div class="col-md-6">
		<img src="/static/modelLSTM.png" data-rotate="90">
		<a class="btn btn-danger" href="/delete_model_lstm">Hapus Model</a>
	      </div>
	    </div>
	  </div>
	</div>
      {% endif %}

      {% if lstm_model_exists == 0 %}
	<div class="alert alert-danger">Data LSTM model belum ada</div>
      {% endif %}

      <div class="form-group">
	<div class="input-group input-file" name="fileBobotLSTM">
	  <span class="input-group-btn">
	    <button class="btn btn-default btn-choose" type="button">Upload Bobot H5 LSTM</button>
	  </span>
	  <input type="text" class="form-control" name="fileBobotLSTM" placeholder='masukkan bobot file disini..' />
	  <span class="input-group-btn">
	    <button class="btn btn-warning btn-reset" type="button">Reset</button>
	  </span>
	</div>
      </div>
      {% if lstm_bobot_exists == 1 %}
	<div class="panel panel-primary autocollapse">
	  <div class="panel-heading clickable">
	    <h3 class="panel-title">File Bobot</h3>
	  </div>
	  <div class="panel-body">
	    <div class="row">
	      <div class="col-md-6">
		<i>{{ bobot_name }}</i>
		<a class="btn btn-danger" href="/delete_bobot_lstm">Hapus Bobot</a>
	      </div>
	    </div>
	  </div>
	</div>
      {% endif %}

      <!-- bagian CNN -->
      <div class="form-group">
	<div class="input-group input-file" name="fileModelCNN">
	  <span class="input-group-btn">
	    <button class="btn btn-default btn-choose" type="button">Upload Model JSON CNN</button>
	  </span>
	  <input type="text" class="form-control" name="fileModelCNN" placeholder='masukkan model file disini...' />
	  <span class="input-group-btn">
	    <button class="btn btn-warning btn-reset" type="button">Reset</button>
	  </span>
	</div>
      </div>

      {% if cnn_model_exists == 1 %}
	<div class="panel panel-primary autocollapse">
	  <div class="panel-heading clickable">
	    <h3 class="panel-title">Bentuk Model</h3>
	  </div>
	  <div class="panel-body">
	    <div class="row">
	      <div class="col-md-6">
		<img src="/static/modelCNN.png" data-rotate="90">
		<a class="btn btn-danger" href="/delete_model_cnn">Hapus Model</a>
	      </div>
	    </div>
	  </div>
	</div>
      {% endif %}

      {% if cnn_model_exists == 0 %}
	<div class="alert alert-danger">Data CNN model belum ada</div>
      {% endif %}

      <div class="form-group">
	<div class="input-group input-file" name="fileBobotCNN">
	  <span class="input-group-btn">
	    <button class="btn btn-default btn-choose" type="button">Upload Bobot H5 CNN</button>
	  </span>
	  <input type="text" class="form-control" name="fileBobotCNN" placeholder='masukkan bobot file disini..' />
	  <span class="input-group-btn">
	    <button class="btn btn-warning btn-reset" type="button">Reset</button>
	  </span>
	</div>
      </div>

      {% if cnn_bobot_exists == 1 %}
	<div class="panel panel-primary autocollapse">
	  <div class="panel-heading clickable">
	    <h3 class="panel-title">File Bobot</h3>
	  </div>
	  <div class="panel-body">
	    <div class="row">
	      <div class="col-md-6">
		<i>{{ bobot_name }}</i>
		<a class="btn btn-danger" href="/delete_bobot_cnn">Hapus Bobot</a>
	      </div>
	    </div>
	  </div>
	</div>
      {% endif %}

      <div class="form-group">
	<button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    function bs_input_file() {
      $(".input-file").before(
	function() {
	  if ( ! $(this).prev().hasClass('input-ghost') ) {
	    var element = $("<input type='file' class='input-ghost' style='visibility:hidden; height:0'>");
	    element.attr("name",$(this).attr("name"));
	    element.change(function(){
	      element.next(element).find('input').val((element.val()).split('\\').pop());
	    });
	    $(this).find("button.btn-choose").click(function(){
	      element.click();
	    });
	    $(this).find("button.btn-reset").click(function(){
	      element.val(null);
	      $(this).parents(".input-file").find('input').val('');
	    });
	    $(this).find('input').css("cursor","pointer");
	    $(this).find('input').mousedown(function() {
	      $(this).parents('.input-file').prev().click();
	      return false;
	    });
	    return element;
	  }
	}
      );
    }
$(function() {
  bs_input_file();
});
  </script>
  <script>
    $(document).on('click', '.panel div.clickable', function(e) {
      var $this = $(this);
      var $panel = $this.parent('.panel');
      var $panel_body = $panel.children('.panel-body');
      var $display = $panel_body.css('display');

      if ($display == 'block') {
	$panel_body.slideUp();
      } else if ($display == 'none') {
	$panel_body.slideDown();
      }
    });
$(document).ready(function(e){
  var $classy = '.panel.autocollapse';

  var $found = $($classy);
  $found.find('.panel-body').hide();
  $found.removeClass($classy);
});
  </script>
{% endblock %}
